* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.form,
.grey {
	background-color: rgb(240, 240, 240);
}

.buttons {
	background-color: #fb8500;
	border: none;
	padding: 10px;
	border-radius: 10px;
	color: white;
}

.buttons:hover {
	background-color: #d47100;
}

.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.2) !important;
	border: none;
}

.icons {
	color: #bcb8b1;
}

.icons:hover {
	color: #e79200;
	cursor: pointer;
}
