* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(240, 240, 240) !important;
}

.buttons {
	background-color: #77b255;
	border: none;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

.buttons:hover {
	background-color: #58843e;
	cursor: pointer;
}

.outline-buttons {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #dcdad584;
	background-color: #fff;
	transition: 0.1s ease-in;
	color: #262524;
}

.outline-buttons:hover {
	color: white;
	background-color: #77b255;
	cursor: pointer;
	border: 1px solid #77b255;
}

.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.2) !important;
	border: none;
}

.icon {
	color: #77b255;
}

.icon:hover {
	color: #58843e;
}

.icons {
	color: #7d7b78;
}

.icons:hover {
	color: #58843e;
	cursor: pointer;
}

.followLink:hover {
	text-decoration: underline;
	cursor: pointer;
}

.followButton {
	border: 1px solid #77b255;
	padding: 0.1em 1em;
	background: none;
	border-radius: 20px;
	transition: 0.2s ease-out;
}

.followButton:hover {
	background-color: #58843e;
	color: #fff;
}

.followstyle:hover {
	background-color: rgb(239, 239, 239);
	cursor: pointer;
}

.breakWord {
	overflow-wrap: break-word;
}

.overflowWrap {
	overflow-wrap: break-word;
	max-width: 100%;
	margin: 1em 0;
}

.read-or-hide {
	color: rgb(141, 141, 141);
}

.read-or-hide:hover {
	text-decoration: underline;
	cursor: pointer;
}

.chatBox {
	position: relative;
	height: 80vh;
	width: 100%;
}

.sendMsgButton {
	position: absolute;
	bottom: 0;
	width: 90%;
}

.div {
	background-color: rgb(255, 255, 255);
}

.div:hover {
	background-color: rgb(239, 239, 239);
}

.userdetails {
	position: absolute;
	top: 0;
}

.senderBg {
	background-color: #77b255;
	padding: 0.5em;
	color: #fff;
	max-width: 85%;
	overflow-wrap: break-word;
	border-radius: 1em 1em 1em 0;
}
.reciptpient {
	background-color: #caccc9;
	padding: 0.5em;
	max-width: 220px;
	overflow-wrap: break-word;
	border-radius: 1em 1em 0 1em;
}

.dark-mode {
	background-color: #ffd166;
}

.category-btn {
	transition: 0.1s ease-in-out;
	background-color: #edede9;
}

.category-btn:hover {
	background-color: #c1c1bb;
	cursor: pointer;
}

.category-btn-remove {
	transition: 0.1s ease-in-out;
	background-color: #edede9;
}

.category-btn-remove:hover {
	background-color: #ea3535;
	color: #fff;
	cursor: pointer;
}
